/* -----General Styling----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}
a{
    color: var(--text-color);
    text-decoration: none;
}
:root{
    --main-color:#0ea5e9;
    --gradient:linear-gradient(270deg, #06b6d4 10%, #3b82f6 100%);
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color:#ffffff;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
}
span {
  background: var(--gradient);
  background-clip: text; 
  color: transparent;
}
section{
    padding: 9% 15%;
    min-height: 100dvh;
}
ul{
    list-style: none;
}

/* -----Header Styling----- */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 2.8rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: 0.3s ease-in;
}
.header.hide{
    transform: translateY(-100%);
}
header h1{
    font-size: 3.7rem;
    font-weight: 700;
    padding: 3rem 2rem;
    transition: 0.3s ease-in-out;
}
header h1:hover{
    transform: scale(1.1);
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 4.5rem;
}
.nav a{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.nav a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}
.btn a{
    color: black;
}
.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 2.9rem;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 1px;
  color: black;
  overflow: hidden;
  z-index: 1;
  text-wrap: nowrap;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--gradient);
  z-index: -1;
  transition: opacity 0.6s ease-in-out;
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(270deg, #f59e0b 10%, #ef4444 100%);
  z-index: -1;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
}
.btn:hover::after {
  opacity: 1;
}
.btn:hover::before {
  opacity: 0;
}
#menu-icon{
    font-size: 2.6rem;
    color: var(--main-color);
    display: none;
}
/* -----Home Styling----- */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-image{
    margin-right: 4rem;
}
.home-image img{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease-in-out;
}
.home-image img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 75px var(--main-color);
}
.home-text{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}
.home-text h1{
    font-size: 8.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.home-text h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
}
.home-text p{
    font-size: 2.2rem;
}
.home-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}
.home-btn a{
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 2.4rem;
    font-size: 2rem;
    font-weight: 700;
    border: 3px solid var(--main-color);
    outline: none;
    transition: 0.3s ease-in;

}
.home-btn a:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
}
.home-btn a:first-child{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease-in;
}
.home-btn a:first-child:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.social-links i{
    background-color: var(--bg-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 2.5rem;
    transition: 0.4s ease-in-out;
}
.social-links i:hover{
    transform: translateY(-0.5rem);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}

/* -----About Styling----- */
.about{
    background-color: var(--second-bg-color);
    display: flex;
    gap: 6rem;
    padding-top: 9%;
}
.about-img img{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    animation: upanddown 4.5s infinite linear;
}
@keyframes upanddown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-3rem);
    }
    100%{
        transform: translateY(0);
    }
}
.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.about-content h1{
    font-size: 5rem;
    margin-bottom: 2rem;
}
.about-content>p{
    font-size: 1.7rem;
    color: rgb(150, 146, 146);
}
.tab-titles{
    padding: 2rem 0 3rem;
    display: flex;
}
.tab-links{
    font-size: 1.8rem;
    color: rgb(181, 177, 177);
    margin-right: 5rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    letter-spacing: 0.1rem;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 0.45rem;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    border-radius: 2rem;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin: 1rem 0;
    font-size: 1.4rem;
    color: rgb(181, 177, 177);
}
.tab-contents ul li span{
    color: #0284c7;
    font-size: 1.7rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -----Services Styling----- */
.services h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
}
.services-container{
    display: flex;
    justify-content: center;
    gap: 2.8rem;
    flex-wrap: wrap;
}
.services-container .service-box{
    flex:1 1 30rem;
    min-height: 40rem;
    background: #0284c7;
    padding: 7rem 3rem 7rem;
    border-radius: 3rem;
    text-align: center;
    transition: 0.3s ease-in;
    border: 0.4rem solid transparent;
}
.services-container .service-box:hover{
    border-color: var(--text-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}
.service-box h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.service-box p{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.service-box a,.modal a{
    display: inline-block;
    font-size: 1.3rem;
    padding: 0.8rem 1.4rem;
    background: linear-gradient(270deg, #f59e0b 10%, #ef4444 100%);
    border-radius: 3rem;
    transition: 0.3s ease-in;
    font-weight: 600;
}
.service-box a:hover{
box-shadow: 
  0 4px 15px rgba(255, 255, 255, 0.5),  
  0 4px 25px rgba(255, 255, 255, 0.3);  
}
.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
    backdrop-filter: blur(6px);    /* blur background */
   -webkit-backdrop-filter: blur(6px); /* Safari support */
    z-index: 1000;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 5rem;
    border-radius: 1.3rem;
    width: 60rem;
    max-width: 80%;
    flex-direction: column;
    gap: 4rem;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal h2{
    font-size: 3rem;
}
.modal p{
    opacity: 0.7;
    font-size: 1.8rem;
}

/* -----Contact Styling----- */
.contact h1{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
}
.contact-form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.contact-left input{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 2rem 3.8rem;
    border-radius: 1.3rem;
    font-size: 2rem;
    outline: none;
    color: var(--text-color);
}
.contact-left input::placeholder{
    font-size: 1.5rem;
    font-weight: 600;
}
.contact-right{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
.contact-right textarea{
    background: transparent;
    border: 3px solid var(--main-color);
    outline: none;
    border-radius: 1.3rem;
    font-size: 2rem;
    padding: 2rem 3.8rem;
    color: var(--text-color);
    resize: none;
    min-height: 26rem;
    min-width: 33.2rem;
}
.contact-right button{
    font-size: 2rem;
    padding: 1rem 3.5rem;
    background: linear-gradient(270deg, #f59e0b 10%, #ef4444 100%);
    border-radius: 3rem;
    font-weight: 600;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}
.contact-right button:hover{
    transform: scale(1.1);
}
/* For Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -----Footer Styling----- */
footer{
    background-color: var(--second-bg-color);
    padding: 3% 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer p{
    font-size: 1.5rem;
    color: gray;
}

/* -----Projects Section----- */
.projects{
    background-color: var(--second-bg-color);
}
.projects h1{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 4.5rem;
}
.project-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 4rem;
    row-gap: 3rem;
}
.project-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    padding: 3.5rem 2.4rem;
    border-radius: 2.4rem;
    gap: 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
    height: 100%;
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.project-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.project-card img{
    max-width: 330px;
    border-radius: 2.4rem;
    object-fit: cover;
    width: 100%;
}
.project-card h3{
    font-size: 3rem;
}
.project-card p{
    font-size: 1.6rem;
}

/* -----Slide Animation----- */
.slide-in-left {
  opacity: 0;
  transform: translateX(-120px);
  animation: slideIn 2s forwards; 
  animation-delay: 0.25s; 
}
.slide-in-right {
  opacity: 0;
  transform: translateX(120px);
  animation: slideIn 2s forwards; 
  animation-delay: 0.25s; 
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}





/* -----Media Queries----- */
@media (max-width:1330px) {
    header .btn{
        display: none;
    }
}
@media (max-width:1200px) {
    #menu-icon{
        display: block;
    }    
    .nav{
        position: absolute;
        right: 0;
        top: 100%;
        width: 50%;
        border-bottom-left-radius: 2.2rem;
        border-bottom: 2px solid var(--main-color);
        border-left: 2px solid var(--main-color);
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        display: none;
    }
    .nav ul{
        display: block;
    }
    .nav a{
        color: var(--text-color);
        margin: 3rem 0;
        font-size: 2rem;
        display: block;
    }
    .nav.active{
        display: block;
    }

    .home{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .home-image{
        margin-right: 0;
    }
    .home-image img{
        width: 28vw;
        height: 28vw;
    }
    .home-text{
          text-align: center;
    }
    .social-links{
        justify-content: center;
    }
    .home-btn{
        justify-content: center;
        flex-wrap: wrap;
    }
    .home-text h2 {
        text-wrap: wrap;
    }
    
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .tab-titles{
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-left: 6rem;
    }
    .tab-links{
        margin: 0;
    }
    section{
        min-height: 70vh;
        padding: 9% 5%;
    }
    
}

@media (max-width:900px) {
    header h1{
        font-size: 2.7rem;
    }
    #menu-icon{
        font-size: 2rem;
    }
}

@media (max-width:500px) {
    .tab-titles{
        margin-left: 0;
        gap: 2rem;
    }
    footer p{
        font-size: 0.9rem;
    }
    .modal{
        max-width: 75%;
        padding: 2rem 1rem;
    }
    .modal h2{
    font-size: 1.5rem;
}
.modal p{
    font-size: 0.8rem;
}
.services-container .service-box{
    padding: 7rem 1rem 7rem;
}
.home-image{
    margin-top: 8rem;
}
}

@media (max-width:1085px){
    .home-image img{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
    animation: upanddown 3s infinite linear;
    }

    .about-img img{
        display: none;
    }
}